<h1>
  {{title}}
  <input type="text" [(ngModel)]="newParticipant.firstName">
  <input type="text" [(ngModel)]="newParticipant.lastName">
  <input type="text" [(ngModel)]="newParticipant.level">
  <input type="text" [(ngModel)]="newParticipant.unit">
  <button (click)="createParticipant$.next(newParticipant)">Create Participant</button>
  <div *ngFor="let p of participants | async">
    <a (click)="selectParticipant$.next(p)">{{p.firstName}}</a>
    <a (click)="deleteParticipant$.next(p)">Delete</a>
  </div>
  <div>
    {{selectedParticipant | async | json}}
  </div>
</h1>
