#%RAML 1.0
---
title: first-class-scouting API
baseUri: http://api.firstclassscouting.org/{version}
version: v0.0.1

/troops:
  /{troopId}:
    get:
      description: get the troop with `troopId = {troopId}`
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                  "type": "object",
                  "$schema": "http://json-schma.org/schema#",
                  "id": "http://schemas.firstclassscouting.org/troop",
                  "required": true,
                  "properties": {
                    "data": {
                      "type": "object"
                      "required": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "required": true
                        },
                        "troop_number": {
                          "type": "number",
                          "required": true
                        },
                        "sponsor": {
                          "type": "string",
                          "required": true
                        },
                        "council": {
                          "type": "string",
                          "required": true
                        },
                        "scouts": {
                          "type": "array",
                          "required": true,
                          "items": {
                            "type": "object"
                            "properties": {
                              "id": "string"
                              "url": "url"
                            }
                          }
                        },
                        "scouts_total": {
                          "type": "number",
                          "required": true
                        },
                        "created_at": {
                          "type": "string",
                          "required": true
                        },
                        "updated_at": {
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  }
                }
              example: |
                {
                  "data": {
                    "id": "ABEJD-FEJK",
                    "troop_number": "160",
                    "sponsor": "Lindon 4th Ward",
                    "council": "Utah National Parks Council",
                    "scouts": [
                      {
                        "id": "AAA-BBB", "DDD-CCC"
                        "url": "https://api.firstclassscouting.org/v0.0.1/scouts/AAA-BBB"
                      },
                      {
                        "id": "DDD-CCC",
                        "url": "https://api.firstclassscouting.org/v0.0.1/scouts/DDD-CCC"
                      }
                     ],
                    "scouts_total": 2,
                    "created_at": "2014-10-08T21:40:49Z",
                    "updated_at": "2016-05-08T20:22:35Z"
                  },
                  "success": true,
                  "status": 200
                }
        404:
          body:
            application/json:
              example: |
                {
                  "success": false,
                  "error": true,
                  "message": "Troop not found"
                }
    post:
      description: add a troop with `troopId = {troopId}`
    put:
      description: update a troop with `troopId = {troopId}`
    delete:
      description: delete a troop with `troopId = {troopId}`

/scouts:
  /{scout-id}:
    get:
    post:
    put:
    delete:

/users:
  get:
  /{user-id}:
    get:
    post:
    put:
    delete:

/requirement-sets:
  /{requirement-set-id}:
    get:
    post:
    put:
    delete:
    /{requirement-id}:
      get:
      post:
      put:
      delete: